{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
<h2 class="text-center">{{ads.title}}</h2>
    <div class="row">
        <div class="col">
            <img src="{{ ads.picture }}" alt="">
        </div>
        <div class="col">
            <p>{{ ads.city }}</p>
            <p>{{ ads.description }}</p>
            <p>Surface : {{ ads.area }} m²</p>
            <p>Nombre de pièces :{{ ads.rooms }}</p>
            <p>Nombre de chambres : {{ ads.bedrooms }}</p>
            <p>Etage : {{ ads.floor }}</p>
            <p>Type : {{ ads.type }}</p>
            <p>Prix : {{ ads.price }} €</p>
            <p><small>{{ ads.createdAt|date('d-m-Y') }}</small></p>
        </div>
    </div>

    <div class="img__ad mt-2">
        <div class="row">
            {% for image in ads.images %}
                <div class="col-2">
                <img src="{{image.name}}" alt="" class="img-thumbnail">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
