{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
<h2 class="text-center">{{ads.title}}</h2>
    <div class="row">
        <div class="col-md-6 col-12">
            <img src="{{ ads.picture }}" alt="" class="img-fluid">

            {# pour afficher les images des annonces ajouté décommenter cette ligne et comment elle au-dessus #}
            {# <img src="{{ asset('uploads/images/' ~ (ads.picture)) }}" class="img-fluid"> #}

        </div>
        <div class="col-md-6 col-12">
            <p>Ville : {{ ads.city }}</p>
            <p>Description : {{ ads.description }}</p>
            <p>Surface : {{ ads.area }} m²</p>
            <p>Nombre de pièces :{{ ads.rooms }}</p>
            <p>Nombre de chambres : {{ ads.bedrooms }}</p>
            <p>Etage : {{ ads.floor }}</p>
            <p>Type : {{ ads.type }}</p>
            <p>Prix : {{ ads.price }} €</p>
            <p><small>Date : {{ ads.createdAt|date('d-m-Y') }}</small></p>
        </div>
    </div>
</div>
{% endblock %}
